nav.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 5px 10px #00000031;
  transition: top 0.3s;
  margin-bottom: 1rem;
}
 .titulo-app{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;

 }
 .navbar-link.carrito{
  margin-left: 1rem;
 }

 .icono-ligth, .icono-dark{
  width: 25px;
  margin-left: 1rem;
 }

 .color-tema{
  margin-left: auto;
 }
 .tema-dark{
  background-color: #1c1c1c;
  color: white;
 }
 .tema-dark-titulo{
  color: white;
 }